/*
    프로젝트 전역에서 사용할 스타일을 작성합니다.
    ex) 
    스타일링을 했지만 컴포넌트화를 하지 않은 블록, 
    외부에서 가져온 컴포넌트의 전역적인 스타일 수정
*/
@import '@/style/_mixin.scss';

html , body {
    // width: 100%;
    height: 100%;
    max-width: 100%;
}
body {
    /* font-family: 'Black Han Sans', sans-serif; */
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: $COLOR_theme;
    background-color: $COLOR_theme_background;
    overflow-y: overlay;
    overflow-x: hidden;
    word-break: keep-all;
    
    @include hardSelect {
        color: $COLOR_theme;
    }
    &.st-lockscroll {
        width: 100vw; 
        overflow: hidden;
    }
}

#app {
    width: 100%; height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    
    // overflow-x: hidden;
    .st-lockscroll & {
        // overflow: hidden;
    }
}



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    position: absolute;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-right: 3px solid $COLOR_theme;
    transition: border 0.3s ease;
    &:hover {
        cursor: pointer;
        border-right: 8px solid $COLOR_theme;
        border-color : $COLOR_theme_highlight;
    }
}

::selection {
    color: $COLOR_theme_background;
    background-color:$COLOR_theme;
    text-shadow: none;
}

br.br-phone {
    display: none;
    @include phone {
        display: block;
    }
}

.paragraph {
    display: flex;
    flex-direction: column;
    color: $COLOR_theme;
    align-items: flex-start;

    > * {
        margin: 20px 0;
    }
    
    a {
        text-decoration: underline;
        line-height: 1em;
        padding: 3px 5px;
        @include hover {
            background-color: $COLOR_theme;
            color: $COLOR_theme_background;
        }
    }

    .paragraph__title {
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: 20px;
        word-break: break-all;
        
        &.size--1 {
            font-size: 85px;
            margin-top: 100px;
        }
        &.size--2 {
            font-size: 46px;
        }
        &.size--3 {
            font-size: 32px;
        }
        &.size--4 {
            font-size: 23px;
        }
        
    }

    .paragraph__text {
        // margin-top: 0;
        font-size: 16px;
        line-height: 1.55em;
        &.st-italic {
            font-style: italic;
        }
        .paragraph__link {
            text-decoration: underline;
            font-weight: bold;
        }
    }

    .paragraph__divider {
        margin: 50px 0;
        width: 100%; 
        height: 0;
        border-top: 1px solid $COLOR_theme;
        position: relative;
        display: inline-block;        
    }

    .paragraph__list {

        li {
            display: flex;
            align-items: center;
            margin-top: 7px;
            &:nth-child(1) {
                margin-top: 0;
            }
        
            &:before {
                content: '';
                margin-right: 10px;
                width: 6px; height: 6px;
                position: relative;
                display: inline-block;
                background-color: $COLOR_theme;
            }
            &:nth-child(2n):before{
                transform: rotate(45deg);
            }
        }
    }

}